$basicColor: #575e72;
$gradi: linear-gradient(90deg, rgba(66, 152, 255, 1) 0%, rgba(140, 224, 255, 1) 68%);
$gradi2: linear-gradient(90deg, rgba(66, 152, 255, 0.2) 0%, rgba(140, 224, 255, 0.2) 68%);
$gradi3: linear-gradient(90deg, rgba(140, 224, 255, 0.2) 0%, rgba(66, 152, 255, 0.2) 68%);
