/* stylelint-disable declaration-block-no-shorthand-property-overrides */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
@import "../../styles/setup.scss"; //this is should be always after themes

.home {
  width: calc(100% - 40px);
  max-width: 1280px;
  margin: 10px auto;
  min-height: calc(100vh - 80px - 80px);
  border: 1px solid #2c4154;
  background-color: #1a1f26;
  border-radius: 40px;
  overflow: hidden;

  &_sec5 {
    max-width: 1280px;
    min-height: 800px;
    background-color: #1a1f26;
    padding: 40px 50px;

    display: flex;
    flex-direction: column;
    position: relative;

    &_bg {
      position: absolute;
      z-index: 2;
      max-width: 1280px;
    }

    h2 {
      font-weight: 700;
      font-size: 32px;
      line-height: 34px;
      color: white;
      letter-spacing: 2px;
      margin: 0 10px 6px;
      text-align: center;

      img {
        width: 50px;
        margin-right: 10px;
      }
    }

    &_p {
      display: flex;
      flex-direction: row;
      gap: 40px;
      justify-content: center;
      align-items: center;

      font-weight: 400;
      font-size: 16px;
      color: rgb(192, 192, 192);
      margin: 0 50px 10px;

      img {
        width: 14px;
        margin-right: 8px;
      }

      &_2 {
        img {
          transform: rotate(180deg);
        }
      }
    }

    &_main {
      padding: 10px 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &_info {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 10px;
        border-radius: 10px;

        > div {
          flex: 1;
        }

        width: 480px;
        background: $gradi2;

        &_left {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          height: 60px;
          border-right: 2px solid white;

          > div:first-of-type {
            width: 80px;
          }

          > div:last-of-type {
            display: flex;
            flex-direction: column;
            align-items: center;

            > div:first-of-type {
              font-weight: 400;
              font-size: 24px;
              color: white;
            }

            > div:last-of-type {
              font-weight: 700;
              font-size: 22px;
              line-height: 20px;
              color: #1e2e40;
            }
          }
        }

        &_right {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 20px;

          img {
            margin-top: -10px;
          }

          p {
            font-weight: 700;
            font-size: 38px;
            color: white;
            margin: 0;
          }
        }
      }

      &_wl {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        &_left {
          display: flex;
          gap: 6px;
          border-right: 2px solid white;
          padding: 0 12px;

          > div:first-of-type {
            font-weight: 600;
            font-size: 18px;
            line-height: 18px;

            color: #8ce0ff;
          }

          > div:last-of-type {
            font-weight: 600;
            font-size: 18px;
            line-height: 18px;
            color: white;
          }
        }

        &_right {
          display: flex;
          gap: 6px;
          padding: 0 12px;

          > div:first-of-type {
            font-weight: 600;
            font-size: 18px;
            line-height: 18px;
            color: #8ce0ff;
          }

          > div:last-of-type {
            font-weight: 600;
            font-size: 18px;
            line-height: 18px;
            color: white;
          }
        }
      }

      &_table {
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 10px;
        border-radius: 4px;
        overflow: hidden;

        &_zero {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 120px;
          font-size: 32px;
          font-weight: 500;
          color: white;
        }

        &_row {
          width: 100%;
          padding: 10px 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: $gradi3;
          height: 50px;

          &:nth-child(odd) {
            background: $gradi2;
          }

          &_game {
            display: flex;
            gap: 6px;

            > div:first-of-type {
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              color: white;
            }

            > div:last-of-type {
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              color: $_basicActiveColor;
            }
          }

          &_bal {
            display: flex;
            gap: 6px;

            > div:first-of-type {
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              color: white;
            }

            > div:last-of-type {
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              color: $_basicActiveColor;
            }
          }

          &_win {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 8px;
            min-width: 200px;

            img {
              width: 20px;
              height: 20px;
            }

            > div:first-of-type {
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              color: $_basicActiveColor;
            }

            > div:last-of-type {
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              color: white;
            }
          }
        }
      }
    }
  }

  &_empty {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
    color: white;
    letter-spacing: 2px;
    margin: 0 10px 10px;
  }
}
