/* stylelint-disable font-family-no-missing-generic-family-keyword */
@import "../../styles/setup.scss"; //this is should be always after themes

.footer {
  width: 100%;
  background-color: #499fff;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 76px;
  padding: 0px 40px;

  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
